%p#notice= notice

%h1 
  .center
    Measured Properties

.row-fluid.variable
  .col-sm-1
    %strong
      Id
  .col-sm-1
    %strong
      Source
  .col-sm-3
    %strong
      Name
  .col-sm-3
    %strong
      Label
  .col-sm-3
    %strong
      URL

.clear

- @measured_properties.each do |measured_property|

  .row-fluid.variable
    .col-sm-1
      .variable_header
        Id:
      = measured_property.id
    .col-sm-1
      .variable_header
        Source:
      = measured_property.source
    .col-sm-3
      .variable_header
        Name:
      = measured_property.name

    .col-sm-3
      .variable_header
        Label:
      = measured_property.label
    .col-sm-3
      .variable_header
        URL:
      = measured_property.url
  .clear

%br

