%p#notice= notice
%h1 Listing Measured Properties
%table
  %thead
    %tr
      %th Name
      %th Label
      %th Url
      %th Definition
      %th{:colspan => "3"}
  %tbody
    - @measured_properties.each do |measured_property|
      %tr
        %td= measured_property.name
        %td= measured_property.label
        %td= measured_property.url
        %td= measured_property.definition
        %td= link_to 'Show', measured_property
        %td= link_to 'Edit', edit_measured_property_path(measured_property)
        %td= link_to 'Destroy', measured_property, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Measured property', new_measured_property_path
