<%#= debug(@measurements_by_hour_data) %>

<%
now = Date.today
start_date = (now - 7)
%>

<div id="samples_per_day"></div>
<script>

series_by_day   = JSON.parse('<%= @samples_by_day.to_json.html_safe %>')
start_by_day_ms = <%= ((@start_time_by_day.to_i())*1000).to_s %>
end_time           = <%= ((@end_time.to_i())*1000).to_s %>
tz_offset_mins  = <%= @tz_offset_mins.to_s %>

$(function () {
    Highcharts.setOptions({
	  global: {
		timezoneOffset: tz_offset_mins,
	  }
    });
    $('#samples_per_day').highcharts({
		title: {
		    text: null
		},
        chart: {
			type: 'area',
            zoomType: 'x',
            spacing: [1,1,1,1],
            plotBorderWidth: 1,
            spacingTop: 10
        },
        plotOptions: {
          series: {
            fillColor: {
              linearGradient: [0, 0, 0, 100],
              stops: [
                [0, Highcharts.getOptions().colors[0]],
                [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
              ]
            }
          }
        },
        xAxis: {
            type: 'datetime',
            tickInterval: 24* 60 * 60 *1000,
            min: start_by_day_ms,
            max: end_time,
            title: {
              text: '<%= @tz_name.html_safe %>'
            },
        },
        yAxis: {
        	min: 0,
            title: {
                text: 'Samples Per Day'
            }
        },
        series:
          series_by_day
    });
});
</script>
