<%#= debug @start_date %>

<%#= debug(@measurements_by_minute) %>

<%
now = Date.today
start_date = (now - 1)
%>

<%#= @measurements_by_minute_data %>

<div id="samples_per_minute"></div>
<script>
$(function () {
    $('#samples_per_minute').highcharts({
		title: {
		    text: 'Total Samples per Minute'
		},
        chart: {
            zoomType: 'x',
        },
        xAxis: {
            type: 'datetime',
            tickInterval: 3600 * 1000 /60,
            // min: Date.UTC(<%= start_date.strftime('%Y') %>, <%= start_date.strftime('%m') %>, <%= start_date.strftime('%d') %>),
            // max: Date.UTC(<%= now.strftime('%Y') %>, <%= now.strftime('%m') %>, <%= now.strftime('%d') %>),
        },
        yAxis: {
        	min: 0,
            title: {
                text: 'Samples'
            }
        },
		legend: {
			title: 'test'
		},
        series: [{
			text: 'etst',
            data: [
			<%= @measurements_by_minute_data %>
            ],
            // pointStart: Date.UTC(<%= start_date.strftime('%Y') %>, <%= start_date.strftime('%m') %>, <%= start_date.strftime('%d') %>),
            pointInterval: 24 * 3600 * 1000 // one day
        }]
    });
});
</script>
