<%#= debug(@measurements_by_hour_data) %>

<%
now = Date.today
start_date = (now - 7)
%>

<div id="samples_per_hour"></div>
<script>

series_by_hour = JSON.parse('<%= @samples_by_hour.to_json.html_safe %>')
start_by_hour_ms = <%= ((@start_time_by_hour.to_i())*1000).to_s %>
end_time           = <%= ((@end_time.to_i())*1000).to_s %>
tz_offset_mins     = <%= @tz_offset_mins.to_s %>

$(function () {
    Highcharts.setOptions({
	  global: {
		timezoneOffset: tz_offset_mins,
	  }
    });
    $('#samples_per_hour').highcharts({
		title: {
		    text: null
		},
        chart: {
			type: 'column',
            zoomType: 'x',
            spacing: [1,1,1,1],
            plotBorderWidth: 1,
            spacingTop: 10        
        },
        plotOptions: {
          area: {
            marker: {
              enabled: false
            },
            stacking: 'normal',
            lineColor: '#666666',
            lineWidth: 1,
          },
          column: {
            marker: {
              enabled: false
            },
            stacking: 'normal',
            lineColor: '#666666',
            lineWidth: 1,
            groupPadding: 0.0,
            
          }
        },
        xAxis: {
            type: 'datetime',
            tickInterval: 6* 60 * 60 *1000,
            min: start_by_hour_ms,
            max: end_time,
            title: {
              text: '<%= @tz_name.html_safe %>'
            },
        },
        yAxis: {
        	min: 0,
            title: {
                text: 'Samples Per Hour'
            }
        },
        series:
          series_by_hour
    });
});
</script>
