<%#= debug(@measurements_by_hour_data) %>

<%
now = Date.today
start_date = (now - 7)
%>

<div id="samples_per_hour"></div>
<script>

series_by_hour = JSON.parse('<%= @series_by_hour.to_json.html_safe %>')

$(function () {
    $('#samples_per_hour').highcharts({
		title: {
		    text: 'Samples per Hour'
		},
        chart: {
			 type: 'line',
            zoomType: 'x',
            spacing: [0,0,0,0]
        },
        xAxis: {
            type: 'datetime',
            tickInterval: 6* 60 * 60 *1000,
            // min: Date.UTC(<%= start_date.strftime('%Y') %>, <%= start_date.strftime('%m') %>, <%= start_date.strftime('%d') %>),
            // max: Date.UTC(<%= now.strftime('%Y') %>, <%= now.strftime('%m') %>, <%= now.strftime('%d') %>),
        },
        yAxis: {
        	min: 0,
            title: {
                text: 'Samples'
            }
        },
        series:
          series_by_hour
    });
});
</script>
