<%#= debug(@measurements_by_hour_data) %>

<%
now = Date.today
start_date = (now - 7)
%>

<div id="samples_per_hour"></div>
<script>
$(function () {
    $('#samples_per_hour').highcharts({
		title: {
		    text: 'Total Samples per Hour'
		},
        chart: {
			 type: 'column',
            zoomType: 'x',
        },
        xAxis: {
            type: 'datetime',
            tickInterval: 3600 * 1000,
            // min: Date.UTC(<%= start_date.strftime('%Y') %>, <%= start_date.strftime('%m') %>, <%= start_date.strftime('%d') %>),
            // max: Date.UTC(<%= now.strftime('%Y') %>, <%= now.strftime('%m') %>, <%= now.strftime('%d') %>),
        },
        yAxis: {
        	min: 0,
            title: {
                text: 'Samples'
            }
        },
        series: [{
            data: [
			<%= @measurements_by_hour_data %>
            ],
            pointStart: Date.UTC(<%= start_date.strftime('%Y') %>, <%= start_date.strftime('%m') %>, <%= start_date.strftime('%d') %>),
            pointInterval: 24 * 3600 * 1000 // one day
        }]
    });
});
</script>
