<h1>Dashboard</h1>

<div class='badgestrip'>
  <div class='badge'>
    <span class='badgetitle'>Measurements</span>
    <br/>
    <span class='badgevalue'><%= number_with_delimiter(@metrics["measurement_count"], :delimiter => ',') %></span>
  </div>
  <div class='badge'>
    <span class='badgetitle'>Instruments</span>
    <br/>
    <span class='badgevalue'><%= @metrics["instrument_count"] %></span>
  </div>
  <div class='badge'>
    <span class='badgetitle'>Sites</span>
    <br/>
    <span class='badgevalue'><%= @metrics["site_count"] %></span>
  </div>
  <div class='badge'>
    <span class='badgetitle'>Storage</span>
    <br/>
    <span class='badgevalue'><%= @metrics["db_size_mb"] %>MB</span>
  </div>
  <div class='badge'>
    <span class='badgetitle'>Uptime</span>
    <br/>
    <span class='badgevalue'><%= @metrics["uptime"] %></span>
  </div>
</div>

<div class="instrumentstrip">
<% @instruments.each do |instrument| %>
  <div class="instrumentstatus">
  <% if instrument.is_receiving_data %>
    <%= image_tag('glossy-green-icon-button-th.png', size:"16")%>
  <% else %>
    <%= image_tag('glossy-red-icon-button-th.png', size:"16")%>
  <% end %>
    <%= link_to(instrument.name+" (#{instrument.id})", instrument_url(:id => instrument.id) )%>
  </div>
<% end %>
</div>

<div class="last_url" style="clear:both;">
<%= @metrics["last_url"] %>
</div>

<br/>

<%= render 'samples_per_minute' %>
<%= render 'samples_per_hour' %>
<%= render 'samples_per_day' %>

