
%h2 Contact Metadata


.configuration
  .line

  .line
    .title
      Contact Name
    .field
      #{f.text_field('contact_name', size: 30, class: 'form-control')}
  .line
    .title
      Contact Email
    .field
      #{f.text_field('contact_email', size: 30, class: 'form-control')}
  .line
    .title
      Contact Phone
    .field
      #{f.text_field('contact_phone', size: 30, class: 'form-control')}
  .line
    .title
      Contact Address
    .field
      #{f.text_field('contact_address', size: 30, class: 'form-control')}
  .line
    .title
      Contact City
    .field
      #{f.text_field('contact_city', size: 30, class: 'form-control')}
  .line
    .title
      Contact State
    .field
      #{f.text_field('contact_state', size: 30, class: 'form-control')}
  .line
    .title
      Contact Country
    .field
      #{f.text_field('contact_country', size: 30, class: 'form-control')}
  .line
    .title
      Contact Zipcode
    .field
      #{f.text_field('contact_zipcode', size: 30, class: 'form-control')}
