%h2 Standard Options
.configuration
  .line
    .title
      Project Name
    .field
      #{f.text_field('project', size: 60, class: 'form-control')}
  .line
    .title
      DOI
    .field
      #{f.text_field('doi', size: 60, class: 'form-control')}
  .line
    .title
      Affiliation
    .field
      #{f.text_field('affiliation', size: 60, class: 'form-control')}
  .line
    .title
      Page Title
      (will appear in tab titles)
    .field
      #{f.text_field('page_title', size: 60, class: 'form-control')}
  .line
  .line
    .title
      Domain Name
      (Used in metadata generation)
    .field
      #{f.text_field('domain_name', size: 60, class: 'form-control')}
  .line
  .line
    .title
      Data Archive URL
    .field
      #{f.text_field('data_archive_url', size: 60, class: 'form-control')}
  .line
  .line
    .title
      Email account for password resets
    .field
      = @email
    .field
      = link_to 'Test Sending Email', test_sending_email_profiles_url, method: :post, class: 'btn btn-md btn-primary', style: 'text-decoration: none; color: white;', title: 'Test Sending Email'
  .line
  .line
    .title
      Time Zone For Plotting
    .field
      #{f.collection_select('timezone', ActiveSupport::TimeZone.all, :name, :name)}
  .line
    .title
      Project Description
      %br/
      (HTML markup may be used)
      %br/
    .field
      #{f.text_area('description', size: "60x20", class: 'form-control')}
  .line
    .title
      Logo File
      %br/
      (100 pixels high is best,
      %br/
      but not mandatory)
    .field
      %div
        #{f.file_field :logo_file}
        Reset to default image: #{check_box_tag :reset_logo}

  .line
    .title
      Google Maps
      %br/
      %strong JavaScript API Key
    .field
      #{f.text_field('google_maps_key', size: 50, class: 'form-control')}


  .line
  .line
  .line
    .title
      Security Options
    %div.field
      %div
        %div
          = f.check_box :secure_data_viewing
          Restrict viewing of data
        %div
          #{f.check_box :secure_data_download}
          Restrict downloading of data
        %div
          #{f.check_box :secure_data_entry}
          Require the security key in order to submit a measurement
        %div
          Measurement security key (Deprecated: In the future, create a user with the measurement role and use an api_key)
          #{f.text_field(:data_entry_key, size: 30, class: 'form-control')}
