%h1 Configuration
= form_for(:profile, method: "post", multipart: true, html: {class: "new_or_edit_form" }) do |f|
  Project Name: #{f.text_field('project', size: 60)}
  %br/
  %br/
  Affiliation: #{f.text_field('affiliation', size: 60)}
  %br/
  %br/
  Page Title (will appear in tab titles): #{f.text_field('page_title', size: 60)}
  %br/
  %br/
  Time Zone For Plotting: #{f.collection_select('timezone', ActiveSupport::TimeZone.all, :name, :name)}
  %br/
  %br/
  Project Description (HTML markup may be used):
  %br/
  = f.text_area('description', size: "60x20")
  %br/
  %br/
  Site Logo File: #{f.file_field :logo} Reset: #{check_box_tag :reset_logo}
  %br/
  %br/
  %div
    .section
      %strong Google      
    %div
      Google Maps JavaScript API Key: #{f.text_field('google_maps_key', size: 50)}
  %br/
  %div
    .section
      %strong Security Options
    %div
      = f.check_box :secure_data_viewing
      Only allow users with the "view data" role to view data
    %div
      = f.check_box :secure_data_download
      Only allow users with the "download data" role to download data
    %br/
    %div
      = f.check_box :secure_data_entry
      Require the security key in order to submit a measurement
    %div
      = f.text_area :data_entry_key
      The key required to submit measurements
  %br/
  = f.submit('Save')
