<h1>Configuration</h1>
<%= form_for(:profile, method: "post", multipart: true, html: {class: "new_or_edit_form" }) do |f| %>
  Project Name: <%= f.text_field('project', size: 60) %>
  <br>
  <br>
  Affiliation: <%= f.text_field('affiliation', size: 60) %>
  <br>
  <br>
  Time Zone For Plotting: <%= f.collection_select('timezone', ActiveSupport::TimeZone.all, :name, :name) %>
  <br>
  <br>
  Project Description (HTML markup may be used):
  <br>
  <%= f.text_area('description', size: "60x20") %>
  <br>
  <br>

  Site Logo File: <%= f.file_field :logo %> Reset: <%= check_box_tag :reset_logo %>
  <br>

  <br>

	<div>
		<div class= "section"><strong>Security Options</strong></div>
		  <div><%= f.check_box :secure_administration %> Require administrator role to edit configuration and manage sites and instruments</div>
		  <div><%= f.check_box :secure_data_viewing %> Only allow users with the "view data" role to view data</div>
		  <div><%= f.check_box :secure_data_download %> Only allow users with the "download data" role to download data</div>
		<br/>
		  <div><%= f.check_box :secure_data_entry %> Require the security key in order to submit a measurement</div>
		  <div><%= f.text_area :data_entry_key %> The key required to submit measurements</div>
	</div>
  <br>
  <%= f.submit('Save') %>
<% end %>



