%h1 Configuration

%div
  .center
    = link_to "Export Configuration", {controller: "profiles", action: "export_configuration"}, class: "button"
    = link_to "Import Configuration", {controller: "profiles", action: "import_configuration"}, class: "button"

%br

%div
  .center
    = link_to "Export InfluxDB Data", {controller: "profiles", action: "export_influxdb"}, class: "button"
    = link_to "Import InfluxDB Data", {controller: "profiles", action: "import_influxdb"}, class: "button"

= form_for(:profile, method: "post", multipart: true, html: {class: "new_or_edit_form" }) do |f|
  .configuration
    .line
      .title
        Project Name
      .field
        #{f.text_field('project', size: 60)}
    .line
      .title
        DOI
      .field
        #{f.text_field('doi', size: 60)}
    .line
      .title
        Affiliation
      .field
        #{f.text_field('affiliation', size: 60)}
    .line
      .title
        Page Title        
        (will appear in tab titles)   
      .field
        #{f.text_field('page_title', size: 60)}
    .line
    .line
      .title
        Domain Name
        (Used in metadata generation)
      .field
        #{f.text_field('domain_name', size: 60)}
    .line
    .line
      .title
        Time Zone For Plotting
      .field
        #{f.collection_select('timezone', ActiveSupport::TimeZone.all, :name, :name)}
    .line
      .title
        Project Description
        %br/   
        (HTML markup may be used)
        %br/
      .field   
        #{f.text_area('description', size: "60x20")}
    .line
      .title
        Logo File
        %br/
        (100 pixels high is best,
        %br/
        but not mandatory)
      .field
        %div      
          #{f.file_field :logo_file} 
          Reset to default image: #{check_box_tag :reset_logo}

    .line
      .title
        Google Maps
        %br/ 
        %strong JavaScript API Key
      .field
        #{f.text_field('google_maps_key', size: 50)}
    .line
    .line
    .line
      .title
        Security Options
      %div.field
        %div 
          %div
            = f.check_box :secure_data_viewing
            Restrict viewing of data
          %div
            #{f.check_box :secure_data_download}
            Restrict downloading of data
          %div
            #{f.check_box :secure_data_entry}
            Require the security key in order to submit a measurement
          %div
            Measurement security key
            #{f.text_field(:data_entry_key, size: 30)}

    .configuration
      .line
      .line
        .title
          Unit Ontology
        .field
          #{f.select :unit_source, options_for_select([['CUAHSI', 'CUAHSI'], ['UDUNITS', 'UDUNITS']], @profile.unit_source)}

      .line
        .title
          Measured Property Ontology
        .field
          #{f.select :measured_property_source, options_for_select([['SensorML', 'SensorML'], ['CUAHSI', 'CUAHSI']], @profile.measured_property_source)}
    
      .line
    
      .line
        .title
          Contact Name
        .field
          #{f.text_field('contact_name', size: 30)}
      .line
        .title
          Contact Email
        .field
          #{f.text_field('contact_email', size: 30)}
      .line
        .title
          Contact Phone
        .field
          #{f.text_field('contact_phone', size: 30)}
      .line
        .title
          Contact Address
        .field
          #{f.text_field('contact_address', size: 30)}
      .line
        .title
          Contact City
        .field
          #{f.text_field('contact_city', size: 30)}
      .line
        .title
          Contact State
        .field
          #{f.text_field('contact_state', size: 30)}
      .line
        .title
          Contact Country
        .field
          #{f.text_field('contact_country', size: 30)}
      .line
        .title
          Contact Zipcode
        .field
          #{f.text_field('contact_zipcode', size: 30)}             



    .line
      .center
        = f.submit('Save')

    .line
      &nbsp;
