<p id="notice"><%= notice %></p>

<h1>Netcdf Data</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @netcdf_data.each do |netcdf_datum| %>
      <tr>
        <td><%= link_to 'Show', netcdf_datum %></td>
        <td><%= link_to 'Edit', edit_netcdf_datum_path(netcdf_datum) %></td>
        <td><%= link_to 'Destroy', netcdf_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Netcdf Datum', new_netcdf_datum_path %>
