<%= form_with(model: radar_datum, local: true) do |form| %>
  <% if radar_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(radar_datum.errors.count, "error") %> prohibited this radar_datum from being saved:</h2>

      <ul>
      <% radar_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sampled_at %>
    <%= form.datetime_select :sampled_at %>
  </div>

  <div class="field">
    <%= form.label :origin_lat %>
    <%= form.text_field :origin_lat %>
  </div>

  <div class="field">
    <%= form.label :origin_lon %>
    <%= form.text_field :origin_lon %>
  </div>

  <div class="field">
    <%= form.label :header_metadata %>
    <%= form.text_area :header_metadata %>
  </div>

  <div class="field">
    <%= form.label 'Map Data JSON File' %>
    <%= form.file_field :map_data %> 
  </div>

  <div class="field">
    <%= form.label 'Image Overlay' %>
    <%= form.file_field :overlay_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
