= form_for @influxdb_tag do |f|
  - if @influxdb_tag.errors.any?
    #error_explanation
      %h2= "#{pluralize(@influxdb_tag.errors.count, "error")} prohibited this influxdb_tag from being saved:"
      %ul
        - @influxdb_tag.errors.full_messages.each do |msg|
          %li= msg


  .line
    .title= f.label :name
    .field= f.text_field :name, class: 'form-control'
  .line
    .title= f.label :value
    .field= f.text_field :value, class: 'form-control'
  .field
    = f.label :instrument
    %br
    = f.collection_select :instrument_id, Instrument.all.sort_by{|x| [x.site.name, x.name]}, :id, :select_label

  .actions
    %br
    = f.submit 'Save', class: 'btn btn-primary btn-md'
