<h1>Data Fetch</h1>
<!-- h2>Select the measurements</h2>

<ul>
  <% Site.all.each do |site| %>
    <li>
    	<%= site.name %>
    	<br>
		<%= collection_check_boxes(:post, :site_choice, site.instruments, :site_id, :name) %>
		<br>
    </li>
  <% end %>
</ul -->


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Site</th>
      <th># measurements</th>
      <th>Site</th>
      <th>Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instruments.each do |instrument| %>
      <tr>
        <td><%= instrument.name %></td>
        <td><%= @sites.find(instrument.site_id).name %></td>
	  <td><%= instrument.measurements.count %> </td>
	  <td><%=  link_to("CSV", instruments_url( :format => 'csv') )%></td>

        <td><%= link_to 'Show', instrument %></td>

	  

      </tr>
    <% end %>
  </tbody>
</table>
