<h1>Data Fetch</h1>
  <script>
  $(function() {
    $( "#startpicker" ).datepicker();
  });
  </script>
  <script>
  $(function() {
    $( "#endpicker" ).datepicker();
  });
  </script>

<!-- h2>Select the measurements</h2>
  
<ul>
  <% Site.all.each do |site| %>
    <li>
    	<%= site.name %>
    	<br>
		<%= collection_check_boxes(:post, :site_choice, site.instruments, :site_id, :name) %>
		<br>
    </li>
  <% end %>
</ul -->

<div>
<table>
<tr>
<td>Start Date:</td><td><input type="text" id="startpicker"></td>
</tr>
<tr>
<td>End Date:</td><td><input type="text" id="endpicker"></td>
</tr>
</div>

<table>
  <thead>
    <tr>
      <th>Instrument Name</th>
      <th align="center">Site</th>
      <th align="center"># <br/> measurements</th>
      <th >Download As</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instruments.each do |instrument| %>
      <tr>
        <td> <%=  link_to(instrument.name, instrument_url(:id => instrument.id) )%></td>
        <td><%= @sites.find(instrument.site_id).name %></td>
	  <td align="center"><%= instrument.measurements.count %> </td>
	  <td align="center"><%=  link_to("CSV", instrument_url(:id => instrument.id, :format => 'csv') )%> <%=  link_to("XML", instrument_url(:id => instrument.id, :format => 'xml') )%></td>


	  

      </tr>
    <% end %>
  </tbody>
</table>

