<script>
$(document).ready(function() { 
  $(function() {
    $("#startpicker").datepicker();
    $("#startpicker").datepicker('setDate', new Date());
  });

  $(function() {
    $("#endpicker").datepicker();
    $("#endpicker").datepicker('setDate', new Date());
  });

  function send_url(id, datatype) {
    var startdate = $("#startpicker").datepicker("getDate").toDateString();
    var enddate   = $("#endpicker"  ).datepicker("getDate").toDateString();
    var startms   = Date.parse(startdate);
    var endms     = Date.parse(enddate);
    if (startms <= endms) {
    /* add a day to the end date */
      endms += 24*60*60*1000;
      var url = '';
      url += '/instruments/'
      url += id;
      url += '.' + datatype + '?';
      url += 'startsecs=' + startms/1000;
      url += '&endsecs='  + endms/1000;
      document.location.href = url;
    } else {
      alert("Start date must be less than or equal to the end date");
    }
  };
  
  $('.csvButton').click(function(){
    send_url(this.value, 'csv');
  });

  $('.xmlButton').click(function(){
    send_url(this.value, 'xml');
  });

  $('.jsonButton').click(function(){
    send_url(this.value, 'jsonfile');
  });

});
</script>

<h1>Data Fetch</h1>
<h2>Download Data By Day</h2>

<div>
<table>
  <thead>
    <tr>
      <td align="center">Start Date (start of day)</td><td align="center">End Date (end of day)</td>
    </tr>
  </thead>
  <tbody>
    <tr>
     <td><div id="startpicker"></div></td><td><div id="endpicker"></div></td>
    </tr>
  </tbody>
</table> 
<br/>
<table>
  <thead>
    <tr>
      <th>Instrument Name</th>
      <th>Site</th>
      <th align="center"># <br/> measurements</th>
      <th  align="center" colspan="3">Download As</th>
    </tr>
  </thead>

  <tbody>
    <% @instruments.each do |instrument| %>
      <tr>
        <td><%=  link_to(instrument.name, instrument_url(:id => instrument.id) )%></td>
        <td><%= @sites.find(instrument.site_id).name %></td>
	      <td align="center"><%= instrument.measurements.count %> </td>
	      <td align="center">
	        <button value=<%= instrument.id%> class="csvButton" >CSV</button>
          <button value=<%= instrument.id%> class="jsonButton">JSON</button>
          <button value=<%= instrument.id%> class="xmlButton" >XML</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

