  <script>
  $(document).ready(function() { 
    $(function() {
      $("#startpicker").datepicker();
      $("#startpicker").datepicker('setDate', new Date());
    });

    $(function() {
      $("#endpicker").datepicker();
      $("#endpicker").datepicker('setDate', new Date());
    });
  
    $('.csvButton').click(function(){
      var startdate = $("#startpicker").datepicker("getDate").toDateString();
      var enddate   = $("#endpicker"  ).datepicker("getDate").toDateString();
      var startms   = Date.parse(startdate);
      var endms     = Date.parse(enddate);
      if (startms <= endms) {
      /* add a day to the end date */
        endms += 24*60*60*1000;
        var url = '';
        url += '/instruments/'
        url += this.value;
        url += '.csv\?';
        url += 'startsecs=' + startms/1000;
        url += '&endsecs='  + endms/1000;
        document.location.href = url;
      } else {
        alert("Start date must be less than or equal to the end date");
      }
    });
  });
  </script>

<h1>Data Fetch</h1>

<!-- h2>Select the measurements</h2>
  
<ul>
  <% Site.all.each do |site| %>
    <li>
    	<%= site.name %>
    	<br>
		<%= collection_check_boxes(:post, :site_choice, site.instruments, :site_id, :name) %>
		<br>
    </li>
  <% end %>
</ul -->

<div>
<table>
  <thead>
    <tr>
      <td align="center">Start Date (start of day)</td><td align="center">End Date (end of day)</td>
    </tr>
  </thead>
  <tbody>
    <tr>
     <td><div id="startpicker"></div></td><td><div id="endpicker"></div></td>
    </tr>
  </tbody>
</table> 
<br/>
<table>
  <thead>
    <tr>
      <th>Instrument Name</th>
      <th align="center">Site</th>
      <th align="center"># <br/> measurements</th>
      <th>Download As</th>

      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @instruments.each do |instrument| %>
      <tr>
        <td> <%=  link_to(instrument.name, instrument_url(:id => instrument.id) )%></td>
        <td><%= @sites.find(instrument.site_id).name %></td>
	  <td align="center"><%= instrument.measurements.count %> </td>
	  <td align="center"><%=  link_to("CSV", instrument_url(:id => instrument.id, :format => 'csv') )%> 
	                     <%=  link_to("XML", instrument_url(:id => instrument.id, :format => 'xml') )%></td>
	                     <td><input type="button" value=<%= instrument.id%> class="csvButton"></td>
      </tr>
    <% end %>
  </tbody>
</table>

