%h3 User
%p
.table-responsive
  %table
    %tr
      %td{style: "width: 30%"}
        %strong Email
      %td #{@user.email if @user.email}
    %tr
      %td
      %td
    %tr
      %td
        %strong Roles
      %td= @user.roles_pretty_printed
    %tr
      %td
        %strong API Key
      %td
        - if !@user.api_key.nil?
          - if @user == current_user || @current_user.role?(:admin)
            = @user.api_key
          - elsif !@user.api_key.nil?
            Yes
        - else
          n/a

%p
-if can? :edit, @user
  %p= button_to 'Edit User', edit_user_path(@user), method: :get, class: 'btn btn-default btn-md'

%p= link_to 'Back', users_path
