<td><%= best_in_place variable, :shortname, :as => :input %></td>
<td>=</td>
<td><%= best_in_place variable, :name, :as => :input %></td>
<td><%= best_in_place variable, :units, :as => :input %></td>

<td>
	<%#= best_in_place variable, :measured_property, :as => :select, :collection => {"1" => "Spain", "2" => "Italy", "3" => "Germany", "4" => "France"} %>
	<%= best_in_place variable, :measured_property, :as => :select, :collection => MeasuredProperty.order(:name).all.collect {|p| [ p.id, p.label	 ] } %>



<% form_tag_id = "mp_for_tag_#{variable.id}"%>



<%= autocomplete_field_tag form_tag_id, params[:search], autocomplete_measured_property_label_vars_path, {class: "search-query", placeholder: "Start Typing...", type: "search"} %>  


<script>
$(document).ready(function(){
	$("#<%= form_tag_id %>").bind('railsAutocomplete.select', function(event, data){
		/* Submit the new value to update the DB */


		var url = "/vars/<%= variable.id %>";

		// To prevent xss attacks, a csrf token must be defined as a meta attribute
		var csrf_token = jQuery('meta[name=csrf-token]').attr('content'),
		csrf_param = jQuery('meta[name=csrf-param]').attr('content');

		var submit_data = "_method=" + 'put';
		submit_data += "&" + 'var' + '[' + 'measured_property_id' + ']=' + data['item']['id'];

		if (csrf_param !== undefined && csrf_token !== undefined) {
			submit_data += "&" + csrf_param + "=" + encodeURIComponent(csrf_token);
		}



		$.ajax({
			type: "PUT",
			dataType: "script",
			url: url,
			contentType: 'application/json',
			data: JSON.stringify({ var:{measured_property_id:data['item']['id']}, _method:'put', csrf_param: encodeURIComponent(csrf_token) })
		}).done(function( msg ) {
			alert( "Data Saved: " + msg );
		});
	});
});
</script>

	

<%#= collection_select :measured_property_id, MeasuredProperty.order(:label),:id,:label, include_blank: false %>
<%#= f.collection_select :site_id, Site.order(:name),:id,:name, include_blank: false %>

</td>

<td>
	<% if @profile.secure_administration == true && current_user  && can?(:manage, Var)  %>
		<%= link_to variable, method: :delete, :data => {:confirm => "Are you sure you want to permanently delete the variable #{variable.name} and all associated data?"} do %>
		Destroy
		<% end %>
	<% end %>
</td>
