<%= form_for(@var) do |f| %>
  <% if @var.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@var.errors.count, "error") %> prohibited this var from being saved:</h2>

      <ul>
      <% @var.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :shortname %><br>
    <%= f.text_field :shortname %>
  </div>
  <div class="field">
    <%= f.label :instrument_id %><br>
    <%= f.text_field :instrument_id %>
  </div>


  <div class="field">
    <%= f.label :units %><br>
    <%= f.text_field :units %>
  </div>

  <div class="field">
    <%= f.label :measured_property_id %><br>
    <%= f.collection_select :measured_property_id, MeasuredProperty.order(:label),:id,:label, include_blank: false %>
  </div>


<%#= f.collection_select :site_id, Site.order(:name),:id,:name, include_blank: false %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
