<%= form_for(@var) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :shortname %><br>
    <%= f.text_field :shortname %>
  </div>
  <div class="field">
    <%= f.label :instrument_id %><br>
    <%= f.text_field :instrument_id, :readonly => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
