%h1 Variables
%br
%div.row
  %div.col-lg-10.col-md-11
    %table.table.table-striped
      %tr
        %th Name
        %th Short Name
        %th Instrument
        %th Units
        %th Measured Property

      - @vars.each do |v|
        %tr
          %td= link_to v.name, v
          %td= v.shortname
          %td= link_to v.instrument, v.instrument
          %td= v.unit.try(:name)
          %td= v.measured_property.try(:label)
          %td.col-sm-1= link_to '', edit_var_path(v, return: 'edit'), class: 'glyphicon glyphicon-pencil', style: 'text-decoration: none; color: black;', title: 'Edit'
          %td.col-sm-1= link_to '', v, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash', style: 'text-decoration: none; color: black;', title: 'Delete'
