<p id="notice"><%= notice %></p>

<h1>Listing Vars</h1>

<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Shortname</th>
        <th>Instrument</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @vars.each do |var| %>
        <tr>
          <td><%= var.name %></td>
          <td><%= var.shortname %></td>
          <td><%= var.instrument %></td>
          <td><%= link_to 'Show', var %></td>
          <td><%= link_to 'Edit', edit_var_path(var) %></td>
          <td><%= link_to 'Destroy', var, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Var', new_var_path %>
