<h1>Create a New Variable for <%= @instrument.name %> </h1>

<% ourvars = Var.where(instrument_id: params[:inst_id]) %>
 <%= form_for(@var) do |f| %>

<div class="field">
  <table>
    <% ourvars.each do |v| %>
      <tr>
        <td align="right">
          <%= v.name %>
        </td>
        <td align="right">
          <%= v.shortname %>
        </td>
        <td align="right">
          <%= v.instrument_id %>
        </td>
      </tr>
    <% end %> 
    
    <tr>
      <td align="right">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </td>
      <br/>
      <td align="right">
        <%= f.label :shortname %>
        <%= f.text_field :shortname %>
      </td>
      <br/>
      <td align="right">
        <%= f.text_field :instrument_id, :value => params[:inst_id], :readonly => true %>
      </td>
      <br/>
    </tr>
  </table>
</div>

<div class="field">
  <%= f.submit %>
</div>

<% end %>

<%= link_to 'Back', instruments_path %>
