%h1 Variable
%br
%p
  %strong Name:
  = @var.name
%p
  %strong Shortname:
  = @var.shortname
%p
  %strong Instrument:
  = @var.instrument

%br
= button_to 'Edit', edit_var_path(@var), method: :get, class: 'btn btn-default btn-md'
%br
= link_to 'Back', vars_path
