<p id="notice"><%= notice %></p>

<table>
<tr>
  <td>
    <strong>Variable:</strong>
    <%= @var.name %>
  </td>
  <td>
    <strong>Shortname:</strong>
    <%= @var.shortname %>
  </td>
</tr>
</table>

<%= link_to 'Edit', edit_var_path(@var) %>
<%= link_to 'Back', instruments_path(@var.instrument) %>
