<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @var.name %>
</p>

<p>
  <strong>Shortname:</strong>
  <%= @var.shortname %>
</p>

<p>
  <strong>Instrument:</strong>
  <%= @var.instrument %>
</p>

<%= link_to 'Edit', edit_var_path(@var) %> |
<%= link_to 'Back', vars_path %>
