= form_for @archive_job do |f|
  - if @archive_job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@archive_job.errors.count, "error")} prohibited this archive_job from being saved:"
      %ul
        - @archive_job.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :archive_name
    = f.text_field :archive_name
  .field
    = f.label :start_at
    = f.datetime_select :start_at
  .field
    = f.label :end_at
    = f.datetime_select :end_at
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :message
    = f.text_area :message
  .actions
    = f.submit 'Save'
