%h1 
  .center
    Existing Archive Jobs
    - if can?(:manage, Instrument)
      = button_to 'Delete Complete Archive Jobs', {:controller => 'archive_jobs', :action => 'delete_completed_jobs'}, {:class => 'btn btn-default', :method => 'post'}
    


.row-fluid.variable
  .col-sm-2
    %strong
      Archive
  .col-sm-3
    %strong
      Start
  .col-sm-3
    %strong
      End
  .col-sm-2
    %strong
      Status
  .col-sm-2
    %strong
      Message

.clear

- @archive_jobs.each do |archive_job|

  .row-fluid.variable
    .col-sm-2
      .variable_header
        Archive:
      = archive_job.archive_name
    .col-sm-3
      .variable_header
        Start:
      = archive_job.start_at
    .col-sm-3
      .variable_header
        End:
      = archive_job.end_at
    .col-sm-2
      .variable_header
        Status:
      = archive_job.status
    .col-sm-2
      .variable_header
        Message:
      = archive_job.message
  .clear

%br
