:javascript
  $(document).ready(function() {
    $(function() {
      $("#startpicker").datepicker();
      $("#startpicker").datepicker('setDate', new Date());
    });

    $(function() {
      $("#endpicker").datepicker();
      $("#endpicker").datepicker('setDate', new Date());
    });


    function send_download_url(id, datatype) {
      var startdate = $("#startpicker").datepicker("getDate");
      var enddate   = $("#endpicker"  ).datepicker("getDate");
      enddate.setDate(enddate.getDate() + 1);

      if (startdate < enddate) {
        var url = '';
        url += '/instruments/'
        url += id;
        url += '.' + datatype + '?';
        url += 'start=' + startdate.toISOString();
        url += '&end='  + enddate.toISOString();
        document.location.href = url;
      } else {
        alert("Start date must be less than or equal to the end date");
      }
    };


    $('.geoCsvButton').click(function(){
      send_download_url(this.value, 'csv');
    });


    $('.xmlButton').click(function(){
      send_download_url(this.value, 'xml');
    });

    $('.geoJsonButton').click(function(){
      send_download_url(this.value, 'jsf');
    });


  });
%h2 Download Data By Day
%table.table
  %thead
    %tr{:align => "center"}
      %td{:align => "center"} Start Date (start of day)
      %td{:align => "center"} End Date (end of day)
  %tbody
    %tr{:align => "center"}
      %td
        #startpicker
      %td
        #endpicker
%br/
%table.table.table-striped
  %thead
    %tr
      %th Instrument Name
      %th Site
      %th{:align => "center"}
        \#
        %br/
        measurements
      %th{:align => "center"}
        Fetch/Ingest
        %br>/
        Data
      %th{:align => "center", :colspan => "3"} Download As
  %tbody
    - @instruments.each do |instrument|
      %tr
        %td= link_to(instrument.name, instrument_url(:id => instrument.id) )
        %td= @sites.find(instrument.site_id).name
        %td{:align => "center"}
          = instrument.sample_count(:either)
        %td{:align => "center"}= link_to 'Data URLs', data_urls_about_index_path(instrument_id: instrument.id)
        %td{:align => "center"}

          %button.geoCsvButton{:value => "#{instrument.id}"}  GeoCSV
          %button.geoJsonButton{:value => "#{instrument.id}"} GeoJSON
          %button.xmlButton{:value => "#{instrument.id}"}     XML

%p
  See the
  %i Data URLs
  for URL syntax definitions used to make customized data ingest and download
  requests. These URLs are also used for program generated requests, e.g from browsers, Matlab, R, Python, etc.
