%h1 Bulk Data Download




- if @bulk_download_files.count > 0
	%h3.text-center
		Existing Downloads
	%table.table.table-striped
		%thead
			%tr
				%th
					Name
				%th 
					Creation Date
				%th 
					File Size
				%th
					Actions 
		%tbody
			- @bulk_download_files.each do |bulk_download_file|				  
				%tr
					%td
						= File.basename bulk_download_file
					%td
						= File::ctime bulk_download_file
					%td
						- compressed_file_size = File.size bulk_download_file
						= number_to_human_size compressed_file_size
					%td
						= link_to 'Download', "/data/send_bulk_download_file?file=#{File.basename bulk_download_file}"

						
						= link_to "Delete", "/data/delete_bulk_download_file?file=#{File.basename bulk_download_file}", method: "delete", data: {confirm: "Are you sure you want to permanently delete #{File.basename bulk_download_file}?"} 

			- @placeholder_files.each do |placeholder_file|				  
				%tr
					%td
						= File.basename placeholder_file
					%td
						= File::ctime placeholder_file
					%td
						(creation in progress)
					%td




= render partial: "bulk_download"
