<%= form_for(@measurement, html: {class: "new_or_edit_form" }) do |f| %>
  <% if @measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>

      <ul>
      <% @measurement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.collection_select :instrument_id, Instrument.order(:name),:id,:name, include_blank: false %>
    <%#= f.label :instrument_id %>
    <%#= f.text_field :instrument_id %>
  </div>
  <div class="field">
    <%= f.label :parameter %><br>
    <%= f.text_field :parameter %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
