%h1 Measurements
%table
  %thead
    %tr
      %th Site
      %th Instrument
      %th Parameter
      %th Value
      %th Unit
      %th Measured At
      %th{:colspan => "3"}
  %tbody
    - @measurements.each do |measurement|
      %tr
        %td= @sites.find(@instruments.find(measurement.instrument_id).site_id).name
        %td= @instruments.find(measurement.instrument_id).name
        %td= measurement.parameter
        %td= measurement.value
        %td= measurement.unit
        %td= measurement.measured_at
        %td= button_to 'Show', measurement, method: => :get
        %td= button_to 'Edit', edit_measurement_path(measurement), method: => :get
        %td= button_to 'Destroy', measurement, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Measurement', new_measurement_path
