<h1>Measurements</h1>

<table>
  <thead>
    <tr>
      <th>Site</th>
      <th>Instrument</th>
      <th>Parameter</th>
      <th>Value</th>
      <th>Unit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurements.each do |measurement| %>
      <tr>
        <td><%= @sites.find(@instruments.find(measurement.instrument_id).site_id).name %></td>
        <td><%= @instruments.find(measurement.instrument_id).name %></td>
        <td><%= measurement.parameter %></td>
        <td><%= measurement.value %></td>
        <td><%= measurement.unit %></td>
        <td><%= link_to 'Show', measurement %></td>
        <td><%= link_to 'Edit', edit_measurement_path(measurement) %></td>
        <td><%= link_to 'Destroy', measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measurement', new_measurement_path %>
