<%= @params %>
<p id="notice"><%= notice %></p>
<%= link_to "CSV", measurements_path(format: "csv") %>
<p>
  <strong>Site:</strong>
  <%= @measurement.instrument.site.name %>
</p>


<p>
  <strong>Instrument:</strong>
  <%= @measurement.instrument.name %>
</p>

<p>
  <strong>Parameter:</strong>
  <%= @measurement.parameter %>
</p>

<p>
  <strong>Value:</strong>
  <%= @measurement.value %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @measurement.unit %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
