%h2= @profile.affiliation
= raw @profile.description
%hr/
%h2
  CHORDS
  %br>/
  Cloud-Hosted Realtime
  %br>/
  Data Services
  %br>/
  for the Geosciences
%form
  %button{:formaction => "http://chordsrt.com"} Detailed Information About CHORDS
%p
  CHORDS is one of the projects supported by the National Science Foundation
  %a{:href => "http://earthcube.org"} EarthCube
  initiative, which is
  a community-led cyberinfrastructure initiative for the geosciences.
%p
  You are looking at a CHORDS Portal. This is a web service that allows scientists
  to
  %strong easily
  provide Internet access to real-time streaming data.
  Typically these data are measurements made by diverse instruments, which are
  deployed in support of a particular research effort.
%p
  Each research team can operate their own portal, which is created simply by running
  a copy of the CHORDS appliance on Amazon cloud services. This provides a web server and
  database. CHORDS can both ingest and deliver data via simple http: requests, just
  like any web browser. Configuration and management of your private CHORDS
  server is also done through a web interface. Any user on the Internet can attach
  to the data streams using tools of their choice, such as Matlab, Excel, Python,
  web browsers; i.e. anything that is able to issue an http: request.
%p
  CHORDS portals can also forward real-time data streams to higher level
  CHORDS services, which might provide functions such as OGC compliant
  formatting, mapping services, federation, and just about anything else
  you can think of.
%p
  The goals of CHORDS are:
%ul
  %li To lower the barrier for disemminating real-time geoscience observations via the Internet.
  %li
    To provide a simple, "shrink-wrapped" and inexpensive service that will be especially attractive to teams
    that do not have IT expertise and budgets.
  %li To provide standards-based interoperability with next level processing systems.
.table-responsive
  %table.table.table-striped
    %tr
      %td Uptime
      %td= 'Server:' + time_ago_in_words(@server_uptime) + ', System:' + time_ago_in_words(@system_uptime)
    %tr
      %td Code
      %td= 'Branch:' + @source_branch + ', Revision:'  + @source_revision
    %tr
      %td Docker
      %td= 'Build time:' + @build_time
    %tr
      %td System
      %td= @kernel_release + ' ' + @kernel_version + ' ' + @machine
    %tr
      %td Rails
      %td= 'Version:' + @rails_version + ', Mode:' + @rails_env