<h1>Monitor </h1>
<p>You can configure charts to monitor traces of selected parameters.</p>
<ul>
<li>add multiple charts</li>
<li>pick and choose the instrument/measurement to add to the chart</li>
<li>select the time span</li>
<li>see real-time updates</li>
</ul>
<p>See the nice ISFF <a href="http://datavis.eol.ucar.edu">data viewer</a></p>

<% @instruments.each do |instrument| 	%>

<%= instrument.name %>: 
	<% instrument.measurements.order("created_at").last(1).each do |measurement| %>
		<%= measurement.value %> <%= measurement.unit %>
	<% end %>
	</BR>	

<% end %>

<BR/>
<BR/>
<BR/>
143200770000<BR/>

<%= @time %>
<BR/>
<BR/>
<%= @data %>
<BR/>


<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



<script type="text/javascript">

/**
 * Request data from the server, add it to the graph and set a timeout 
 * to request again
 */
function requestData() {
    $.ajax({
        url: 'monitor/live',
        success: function(point) {
        },
        cache: false
    });
}

// 
// f.options[:chart][:events] = {
//   :load => %| function requestData(){
//     $.ajax({
//       url:"live",
//       success: function(a){
//         var c=chart.series[0], d=c.data.length>20;
//         chart.series[0].addPoint(a,true,d);
//         setTimeout(requestData,16e3)
//       }, cache:false
//     })
//   }|.js_code
// }

            // jQuery(function() {
            //       // 1. Define JSON options
            //       var options = {
            //                     chart: {"defaultSeriesType":"column","renderTo":"my_id","zoomType":"xy"},
            //                             title: {"text":"Test"},
            //                             legend: {"layout":"horizontal","style":{}},
            //                             xAxis: {"type":"datetime"},
            //                             yAxis: {"title":{"text":"Agents"},"labels":{},"min":"0","allowDecimals":false,"gridLineDashStyle":"LongDash"},
            //                             tooltip:  {"enabled":true},
            //                             credits: {"enabled":false},
            //                             plotOptions: {"areaspline":{}},
            //                             series: [{"name":"test","data":[1,2,]}],
            //                             subtitle: {}
            //                     };
            // 
            //       // 2. Add callbacks (non-JSON compliant)                
            //       // requestData();
            // 
            // 
            //       // 3. Build the chart
            //         var chart = new Highcharts.Chart(options);
            //   });
            // 

</script>


<script>
$(function () {
    $(document).ready(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        $('#container').highcharts({
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function () {

                        // set up the updating of the chart each second
                        var series = this.series[0];
                        setInterval(
							function () {
								$.ajax({
								    url: 'monitor/live',
								    success: function(point) {
									console.log(point);
									
								 var x = (new Date()).getTime(), // current time
								                                y = Math.random();
								                            // series.addPoint([x, y], true, true);
																	
								series.addPoint(point, true, true);
								    },
								    cache: false
								});
                        	}
						, 1000);
                    }
                }
            },
            title: {
                text: 'Live random data'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Random data',
                data: (function () {
                    // generate an array of random data
                    var data = [<%= @data %>]
// 
                    //     time = (new Date()).getTime(),
                    //     i;
                    // 
                    // for (i = -19; i <= 0; i += 1) {
                    //     data.push({
                    //         x: time + i * 1000,
                    //         y: Math.random()
                    //     });
                    // }
                    return data;
                }())
            }]
        });
    });
});
</script>



