<%= form_for(@instrument, html: {class: "new_or_edit_form" }) do |f| %>
  <% if @instrument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instrument.errors.count, "error") %> prohibited this instrument from being saved:</h2>

      <ul>
      <% @instrument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :site %><br>	
	<%= f.collection_select :site_id, Site.order(:name),:id,:name, include_blank: false %>
  </div>

  <div class="field">
    <%= f.label :display_points %><br>
    <%= f.text_field :display_points %>
  </div>


  <div class="field">
    <%= f.label :seconds_before_timeout %><br>
    <%= f.text_field :seconds_before_timeout %>
  </div>

  <div class="field">    
    Variables
    <table>
    <% @instrument.vars.each do |v| %>
      <tr>
        <td> <%= link_to(v.name, var_url(:id => v.id) ) %></td>
        <td> <%= v.shortname %></td>
        <td> <%= button_to 'Edit', edit_var_path(v), method: => :get %></td>
        <td><%= button_to 'Destroy', v, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </td>
    </table>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
