<%= form_for(@instrument) do |f| %>
  <% if @instrument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instrument.errors.count, "error") %> prohibited this instrument from being saved:</h2>

      <ul>
      <% @instrument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :site %><br>	
	 <%= f.collection_select :site_id, Site.order(:name),:id,:name, include_blank: false %>
	
  </div>

  <div class="field">
    <%= f.label :display_points %><br>
    <%= f.text_field :display_points %>
  </div>


  <div class="field">
    <%= f.label :seconds_before_timeout %><br>
    <%= f.text_field :seconds_before_timeout %>
  </div>

  <div class="field">    
    <p>Variables</p>
    <table>
    <tr>
      <th>Name</th>
      <th>Id</th>
    </tr>
    <% @instrument.vars.each do |v| %>
      <tr>
        <td> <%=  v.name %></td>
        <td> <%=  v.v    %></td>
      </tr>
    <% end %>
    </td>
    </table>
  <%= link_to 'New Variable', new_var_path(:inst_id => @instrument.id) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
