.clear
%h4
  Variables

.row-fluid
  .col-sm-1
    - if can? :create, Var
      = button_to 'Add New Variable', new_var_path, params: {instrument_id: @instrument.id}, method: :get, class: 'btn btn-default btn-md'
      %br

.clear


%table.table.border
  %tr
    %td
      Short Name
    %td
      Name
    %td
      = link_to 'Units', :units
    %td
      Min/Max (Plot)
    %td
      = link_to 'Measured Property', :measured_properties

    - if Archive.first.try(:name) == "CUAHSI"
      %td
        General Category

    %td
      &nbsp;

    - @instrument.vars.each do |variable|
      %tr.border
        %td
          = variable.shortname

        %td
          = variable.name

        %td
          = variable.unit.try(:name)
          %br
          = variable.unit.try(:abbreviation)



        %td
          = variable.minimum_plot_value
          \/
          = variable.maximum_plot_value


        %td
          = variable.measured_property.try(:label)

        - if Archive.first.try(:name) == "CUAHSI"
          %td
            = variable.general_category

        %td.col-sm-1
          - if can?(:edit, variable)
            = link_to '', edit_var_path(variable), class: 'glyphicon glyphicon-pencil', style: 'text-decoration: none; color: black;', title: 'Edit'
        %td.col-sm-1
          - if can?(:destroy, variable)
            = link_to '', variable, method: :delete, data: {confirm: "Are you sure you want to permanently delete the variable #{variable.name} and all associated data?"}, class: 'glyphicon glyphicon-trash', style: 'text-decoration: none; color: black;'



