%h4
  Measurements
= @instrument.sample_count(:either)
measurements were reported.
- if @instrument.sample_count(:test) > 0
  = "#{@instrument.sample_count(:test)} of these are test values."
  .delete_test_measurements_form
    = render partial: "delete_test_measurements_form", locals: {instrument: @instrument}
%br
This instrument is expected to report a measurement every
= @instrument.sample_rate_seconds
seconds.
%br
- if @instrument.point_time_in_ms("first") != "None"
  = "The first measurement was measured at #{@instrument.point_time_in_ms("first")}."
  %br
  = "The last measurement is #{@instrument.last_age} old. It was measured at #{@instrument.point_time_in_ms("last")}."
