%h1 Instruments
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th{:align => "center"} Status
        %th{:align => "center"} Name
        %th{:align => "center"} Id
        %th{:align => "center"} Active
        %th{:align => "center"}
          Interval
          %br>/
          (s)
        %th{:align => "center"}
          Last
          %br>/
          Measurement
        %th{:align => "center"} Site
        %th{:align => "center"}
          \# of
          = succeed "Variables" do
            %br/
        %th{:align => "center"}
          \# of
          = succeed "Measurements" do
            %br/
        %th{:align => "center"}
          Fetch/Ingest
          %br>/
          Data
        %th{:colspan => "1"}
    %tbody
      - @instruments.each do |instrument|
        %tr
          %td{:align => "center"}
            - if instrument.is_receiving_data
              = image_tag('button_green_50.png', size:"16")
            - else
              = image_tag('button_red_50.png', size:"16")
          %td
            = link_to(instrument.name, instrument_url(:id => instrument.id) )
          %td
            = instrument.id
          %td{:align => "center"}
            - if can?(:manage, Instrument)          
              = best_in_place instrument, :is_active, :as => :checkbox
            - else
              - if instrument.is_active
                = "Yes"
              - else
                = "No"
              
          %td{:align => "center"}= instrument.sample_rate_seconds
          %td= instrument.last_age
          %td= link_to(@sites.find(instrument.site_id).name, site_url(@sites.find(instrument.site_id).id))
          %td{:align => "center"}= instrument.vars.count
          %td{:align => "center"}= instrument.sample_count(:either)

          %td{:align => "center"}= link_to 'Data URLs', about_data_urls_path(instrument_id: instrument.id)
          - if can?(:manage, Instrument)
            %td

              = form_tag(instruments_duplicate_path, :method => 'get') do
                = select_tag "number_of_duplicates", options_for_select((1..100).to_a , "1") 
                copies
                = hidden_field_tag('instrument_id', instrument.id )
                = submit_tag("Duplicate")
              
          %td= render partial: "delete_test_measurements_form", locals: {instrument: instrument}

          - if can?(:manage, Instrument)
            %td= button_to 'Destroy', instrument, method: :delete,                                                                                                                                    |
              data: { confirm: "Are you sure you want to delete the \n#{instrument.name} at #{@sites.find(instrument.site_id).name}?\n\nTHE INSTRUMENT AND ALL DATA WILL BE PERMANENTLY DELETED" } |
%br/
- if @sites.count > 0
  = link_to 'New Instrument', new_instrument_path, :class => 'btn btn-default btn-lg dropdown-toggle'
- else
  %strong At least one site must be defined before creating a new instrument.
 
%h2 Identifiers

%button.collapsed{"aria-expanded" => "false", "data-target" => "#summarytable", "data-toggle" => "collapse", :type => "button", :class => 'btn btn-default btn-lg dropdown-toggle'} 
  Toggle Details

#summarytable.table-responsive.collapse
  %table.table.table-striped
    %thead
      %tr
        %th
          Site
          %br>/
          Name
        %th
          Instrument
          %br>/
          Name
        %th
          Variable
          %br>/
          Name
        %th
          Variable
          %br>/
          Short
          %br>/
          Name
        %th
          Site
          %br>/
          Id
        %th
          Instrument
          %br>/
          Id
        %th
          Variable
          %br>/
          Id
      %tbody
        - @sites.each do |site|
          - site.instruments.each do |instrument|
            - instrument.vars.each do |var|
              %tr
                %td=site.name
                %td=instrument.name
                %td=var.name
                %td=var.shortname
                %td=site.id
                %td=instrument.id
                %td=var.id
