<p id="notice"><%= notice %></p>

<h1>Instruments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Site</th>
      <th># of Measurements</th>
      <th>Status</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instruments.each do |instrument| %>
      <tr>
        <td><%= instrument.name %></td>
        <td><%= @sites.find(instrument.site_id).name %></td>
        <td align="center"><%= instrument.measurements.count %></td>
        <td align="center"><% if instrument.is_receiving_data %>
	<%= image_tag('glossy-green-icon-button-th.png', size:"20")%>
	<% else %>
	<%= image_tag('glossy-red-icon-button-th.png', size:"20")%>
	<% end %>
	
	</td>
        <td><%= link_to 'Show', instrument %></td>
        <td><%= link_to 'Edit', edit_instrument_path(instrument) %></td>
        <td><%= link_to 'Destroy', instrument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instrument', new_instrument_path %>
