<h1>Instruments</h1>

<table>
  <thead>
    <tr>
      <th align="center">Status</th>
      <th align="center">Id</th>
      <th align="center">Name</th>
      <th align="center">Interval<br/>(s)</th>
      <th align="center">Last<br/>Measurement</th>
      <th align="center">Site</th>
      <th align="center"># of <br/>Measurements</th>
      <th align="center"># of <br/>Variables</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @instruments.each do |instrument| %>
      <tr>
        <td align="center"><% if instrument.is_receiving_data %>
	       <%= image_tag('glossy-green-icon-button-th.png', size:"16")%>
	       <% else %>
	       <%= image_tag('glossy-red-icon-button-th.png', size:"16")%>
	       <% end %>
	       </td>
        <td> <%= instrument.id %></td>
        <td> <%= link_to(instrument.name, instrument_url(:id => instrument.id) )%></td>
        <td align="center"><%= instrument.seconds_before_timeout%></td>
        <td><%= instrument.last_age%></td>
        <td><%= link_to(@sites.find(instrument.site_id).name, site_url(@sites.find(instrument.site_id).id)) %></td>
        <td align="center"><%= instrument.measurements.count %></td>
        <td align="center"><%= instrument.vars.count %></td>
        <td><%= link_to 'Clone', instruments_duplicate_path(id: instrument.id) %></td>
        <td><%= link_to 'Delete Test Data', measurements_delete_test_path(instrument_id: instrument.id), 
          data: { confirm: "Are you sure you want to delete the test data for the \n#{instrument.name} at #{@sites.find(instrument.site_id).name}?\n\nALL TEST DATA WILL BE LOST" } %></td>
        <td><%= link_to 'Destroy', instrument, method: :delete, 
          data: { confirm: "Are you sure you want to delete the \n#{instrument.name} at #{@sites.find(instrument.site_id).name}?\n\nTHE INSTURMENT AND ALL DATA WILL BE LOST" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @sites.count > 0 %>
  <%= link_to 'New Instrument', new_instrument_path %>
<% else %>
  <strong>At least one site must be defined before creating a new instrument.</strong>
<% end %>
