
<% 
# Create the query string for submitting measurements for all variables
vquery = ''               
  i = 0                   
  vquery = '&'            
  @varnames.each do |v|
    vquery += v[0] 
    vquery += '='
    vquery += v[1]
    if i < @varnames.count-1        
      vquery += '&'       
    end                   
    i = i + 1             
  end
%>

<div class="last_url">
<%= @instrument.last_url %>
</div>

<div>
	  <strong>Instrument Name:</strong>
	<%= best_in_place @instrument, :name, :as => :input %>
</div>

<div>
	  <strong>ID:</strong>
	   instrument_id=<%= @instrument.id %>
</div>

<div>
	  <strong>Site:</strong>
	
	<%= best_in_place @instrument, :site_id, :as => :select, :collection => Site::list_site_options  %>
</div>

<div>
	  <strong>Variables:</strong>
	<ul id="variables_list">
		<% @instrument.vars.each do |variable| %>
	        <li>
				<%= render partial: 'vars/bip_form', variable: variable, locals: {variable: variable} %>
			</li>
	    <% end %>		
	</ul>
</div>

<div>
	
<%= form_for :var, url: vars_path, :remote => false, :format => :js do |f| %>
	<%= f.hidden_field :name, :value => 'name' %>
	<%= f.hidden_field :shortname, :value => 'shortname' %>
	<%= f.hidden_field :instrument_id, :value => @instrument.id %>

	 <%= f.submit :value	 => 'Add a New Variable' %>
<% end %>
</div>


<p>
 	<strong>Data Input URL:</strong>
	<% if @varnames.count > 0 %>
	  <%= url_for(:only_path => false,  :controller => 'measurements', :action => 'url_create', :instrument_id => @instrument.id) %><%= vquery %>
	<% end %>
</p>

<p>
  <strong>Number of measurements made:</strong>
  <%= @instrument.measurements.count %> 
	(Download current day as <%=  link_to("CSV", instrument_url( :format => 'csv') )%>, <%=  link_to("XML", instrument_url( :format => 'xml') )%> )
</p>

<div class="instrumentstrip">
Graph:
<% @varnames.each do |v| %>
  <%= link_to v[1], instrument_path(@instrument, var: v[0]) %>
<% end %>
</div>

<%= render 'graph' %>


<%= link_to 'Back', instruments_path %>
