<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @instrument.name %>
</p>

<p>
  <strong>Site:</strong>
  <%= @instrument.site.name %>
</p>


<%= link_to "Download measurements as CSV", instruments_path(@instrument, format: "csv") %>

<%= link_to 'Edit', edit_instrument_path(@instrument) %> |
<%= link_to 'Back', instruments_path %>
