<% ourvars = @instrument.vars.all %>
<% nvars = ourvars.size      %>
<% vquery = ''               %>
<% if nvars > 0              %>
<%   i = 0                   %>
<%   vquery = '&'            %>
<%   ourvars.each do |v|     %>
<%     vquery += v.shortname %>
<%     vquery += '='         %>
<%     vquery += v.name.delete(' ')%>
<%     if i < nvars-1        %>
<%       vquery += '&'       %>
<%     end                   %>
<%     i = i + 1             %>
<%   end                     %>
<% end                       %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Instrument Name:</strong>
  <%= @instrument.name %>
</p>

<p>
  <strong>Instrument ID:</strong>
  instrument_id=<%= @instrument.id %>
</p>

<p>
  <strong>Variables:</strong>
  <br/>
  <% if nvars > 0 %>
    <table>
    <% ourvars.each do |v| %>
      <tr>
        <td>v<%=v.shortname%>=<%=v.name%></td>
      </tr>
    <% end %>
    </table>
  <% end %>
</p>

<p>
  <strong>Site:</strong>
  <%= @instrument.site.name %>
</p>

<!-- p>
  <strong>Number of Point to Display in Highcharts:</strong>
  <%= @instrument.display_points %>
</p -->

<!-- p>
  <strong>Seconds Before Timeout:</strong>
  <%= @instrument.seconds_before_timeout %>
</p --> 

<p>
 	<strong>Data Input URL:</strong>
	<% if nvars > 0 %>
	  <%= url_for(:only_path => false,  :controller => 'measurements', :action => 'url_create', :instrument_id => @instrument.id) %>
	  <%= vquery %>
	<% end %>
</p>

<br/>
<br/>

<p>
  <strong>Number of measurements made:</strong>
  <%= @instrument.measurements.count %> 
	(Download as <%=  link_to("CSV", instrument_url( :format => 'csv') )%>, <%=  link_to("XML", instrument_url( :format => 'xml') )%> )
</p>

<%= render 'monitor' %>

<%= link_to 'Edit', edit_instrument_path(@instrument) %> |
<%= link_to 'Back', instruments_path %>

