
<% 
# Create the query string for submitting measurements for all variables
vquery = ''               
  i = 0                   
  vquery = '&'            
  @varnames.each do |v|
    vquery += v[0] 
    vquery += '='
    vquery += v[1]
    if i < @varnames.count-1        
      vquery += '&'       
    end                   
    i = i + 1             
  end
%>

<div class="last_url">
<%= @instrument.last_url %>
</div>

<table>
<tr>
  <td style="vertical-align:top"><strong>Instrument name</strong></td>
	<td style="vertical-align:top"><%= best_in_place @instrument, :name, :as => :input %></td>
</tr>
<tr>
  <td style="vertical-align:top"><strong>ID:</strong></td>
  <td style="vertical-align:top">instrument_id=<%= @instrument.id %></td>
</tr>
<tr>
  <td style="vertical-align:top"><strong>Site</strong></td>
  <td style="vertical-align:top"><%= best_in_place @instrument, :site_id, :as => :select, :collection => Site::list_site_options  %></td>
</tr>
<tr>
  <td style="vertical-align:top"><strong>Display points</strong></td>
  <td style="vertical-align:top"><%= best_in_place @instrument, :display_points, :as => :input %></td>
</tr>
<tr>
  <td style="vertical-align:top"><strong>Expected data input<br/>rate (in seconds)</strong></td>
  <td style="vertical-align:top"><%= best_in_place @instrument, :seconds_before_timeout, :as => :input %></td>
</tr>
<tr>
  <td style="vertical-align:top"><strong>Variables</strong></td>
	<td style="vertical-align:top">
	  <table id="variables_list">
		  <% @instrument.vars.each do |variable| %>
      <tr>
				<%= render partial: 'vars/bip_form', locals: {variable: variable} %>
      </tr>
      <% end %>		
    </td>
    </table>
  </td>
</tr>
<tr>
<td></td>
<td>
<%= form_for :var, url: vars_path, :remote => false, :format => :js do |f| %>
	<%= f.hidden_field :name, :value => 'name' %>
	<%= f.hidden_field :shortname, :value => 'shortname' %>
	<%= f.hidden_field :instrument_id, :value => @instrument.id %>

	 <%= f.submit :value	 => 'Add a New Variable' %>
<% end %>
</td>
</table>


<div>
<strong>URLs for data ingest and download</strong>
<table>
  <tr>
 	<td>Put values:</td>
	<td><% if @varnames.count > 0 %>
	  <%= url_for(:only_path => false,  :controller => 'measurements', :action => 'url_create', :instrument_id => @instrument.id) %><%= vquery %>&test
	<% end %></td>
  </tr>
  <tr>
  <td>Fetch CSV file:</td>
  <td><% if @varnames.count > 0 %>
    <%= url_for(:only_path => false,  :controller => 'instruments', :action => 'show', :id => @instrument.id) %>.csv?startsecs=start&endsecs=end
  <% end %></td>
  </tr>
  <tr>
  <td>Fetch JSON:</td>
  <td><% if @varnames.count > 0 %>
    <%= url_for(:only_path => false,  :controller => 'instruments', :action => 'show', :id => @instrument.id) %>.json?startsecs=start&endsecs=end
  <% end %></td>
 </tr>
</table>
<ul>
<i>
<li>Add '&test' to indicate that the put values are test data, and can be deleted using the "delete Test Data" button.</li>
<li>'?startsecs=start&endsecs=end' are optional. If not present, the current day will be returned. 
'start' and 'end' specify the number of seconds since the epoch (Jan 1, 1970).</li>
</i>
</ul>
</div>

<p>
  <strong>Number of measurements made:</strong>
  <%= @instrument.measurements.count %> 
	(Download current day as <%=  link_to("CSV", instrument_url( :format => 'csv') )%>, <%=  link_to("XML", instrument_url( :format => 'xml') )%> )
</p>

<div class="instrumentstrip">
Graph:
<% @varnames.each do |v| %>
  <%= link_to v[1], instrument_path(@instrument, var: v[0]) %>
<% end %>
</div>

<%= render 'graph' %>


<%= link_to 'Back', instruments_path %>
