
<h1>Simulator</h1>
<p>Simulated measurements will be marked as "test", and 
<strong>will be deleted</strong> when the "Delete Test Data" button is pressed.</p>
<p>The simulations will be stopped if you close this page. You may want 
to run them in a separate tab by right-clicking the 
<%= link_to 'simulator', '/instruments/simulator' %> link and choosing "Open Link in New Tab".</p>
<script>	
var instrument_variables = [];

<% @instruments.each do |instrument| %>

	<% "/measurements/url_create?instrument_id=#{instrument.id}&Temp=" %>
	var instrument_<%= instrument.id %>_variables = [];
	<% instrument.vars.each do |var| %>
		instrument_<%= instrument.id %>_variables.push("<%= var.shortname %>");
	<% end %>
<% end %>
</script>

<script>
function get_measurement_url(instrument_id) {
	var command = "var variables = instrument_" + instrument_id + "_variables";
	eval(command);
	
	var url = "/measurements/url_create?instrument_id=" + instrument_id + "&test";

  // these values to be replaced later by confguration values:
  var min   = 5.0;
  var max   = 25.0;
  var sigma = 1.0;


  var utc_time = new Date();
  utc_time.setUTCMilliseconds(0);


  
  var avg   = (max+min)/2.0;
	for (var i = 0, len = variables.length; i < len; i++) {
		// alert(variables[i]);
		var value = avg + (Math.random()-0.5) * 2 * sigma;
		value = value.toPrecision(4);
		url += "&" + variables[i] + "=" + value; 

		// add the time of the measurement
		// url += "&" + variables[i] + "_at=" + utc_time.toISOString(); 

	}

	// ad the time of ALL measurements submitted 
	url += "&at=" + utc_time.toISOString(); 
	
	// flag this as test data
	url += "&test";


	// add the security data_entry_key
	<% if @profile.secure_data_entry == true %>
		url += "&data_entry_key=" + "<%= @profile.data_entry_key %>";
	<% end %>
	
	
	return(url);
}

function makeHttpObject() {
  try {return new XMLHttpRequest();}
  catch (error) {}
  try {return new ActiveXObject("Msxml2.XMLHTTP");}
  catch (error) {}
  try {return new ActiveXObject("Microsoft.XMLHTTP");}
  catch (error) {}

  throw new Error("Could not create HTTP request object.");
}

function simulate_measurement(instrument_id) {
		var url = get_measurement_url(instrument_id);
	
	if ($('#instrument_simulator_requests').children().length > 10) {
		$('#instrument_simulator_requests').find('div').first().remove();
	}

	$('#instrument_simulator_requests').append("<div>" + url + "</div>");
	
	var request = makeHttpObject();
	request.open("GET", url, false);
	request.send(null);
}

<% @instruments.each do |instrument| %>
<%= "window.instrument_#{instrument.id}_simulator_status =  false;" %>
<% end %>
window.simulator_on =  false;

function toggle_instrument_simulator(instrument_id) {
	// get the value of the simulator status for the instrument
	var command = "var simulator_status = window.instrument_" + instrument_id + "_simulator_status;";
	eval(command);

	if (simulator_status == false) {
		eval("window.instrument_" + instrument_id + "_simulator_status = true;");

		var command = "simulator_status = window.instrument_" + instrument_id + "_simulator_status;";
		
		// var temp = $('#instrument_1_simulator_icon').attr('src', '/assets/glossy-green-icon-button-th.png');
		eval("$('#instrument_" + instrument_id + "_simulator_icon').attr('src', '/assets/toggle-switch-on.png')");
		
	} else {
		eval("window.instrument_" + instrument_id + "_simulator_status = false;");
		eval("$('#instrument_" + instrument_id + "_simulator_icon').attr('src', '/assets/toggle-switch-off.png')");
	}
}

function start_graph_updating() {

	  <% @instruments.each do |instrument| %>
	
	window.setInterval(function () {
			<%= "if (window.instrument_#{instrument.id}_simulator_status == true) {" %>
				simulate_measurement(<%= instrument.id %>);
			}

	}, <%= instrument.seconds_before_timeout %> * 1000 ); // repeat forever, polling every 3 seconds

	  <% end %>

}

// window.onload = function start() {
    start_graph_updating();
// }

</script>

<table>
  <thead>
    <tr>
      <th align="center">Name</th>
      <th align="center">ID</th>
      <th align="center">Site</th>
      <th align="center">Interval<br/>(s)</th>
      <th align="center">Simulator<br/>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @instruments.each do |instrument| %>
      <tr>
        <td> <%= link_to(instrument.name, instrument_url(:id => instrument.id) )%></td>
        <td align="center"><%= instrument.id %></td>
        <td><%= @sites.find(instrument.site_id).name %></td>
        <td align="center"><%= instrument.seconds_before_timeout %></td>
        <td align="center">
	       <%= image_tag('toggle-switch-off.png', size:"62X25", id:"instrument_#{instrument.id}_simulator_icon", onclick:"toggle_instrument_simulator(#{instrument.id});")%>
       </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id='instrument_simulator_requests' style="background-color: black; color: white;">
</div>

