<tr>
  <td><%= best_in_place site, :name,      :as => :input %></td>
  <td><%= best_in_place site, :lat,       :as => :input %></td>
  <td><%= best_in_place site, :lon,       :as => :input %></td>
  <td><%= best_in_place site, :elevation, :as => :input %></td>

  <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<tr>
  <td colspan="4"><ul style="list-style-type:none;padding:0; margin:0px 0px 0px 30px;">
  Description: <%= best_in_place site, 
    :description, 
    :as => :input,
    :type => :textarea,
    :html_attrs => {:style => 'width:500px; height:100px;'} %></td>
</tr>

<tr>
  <td><ul style="list-style-type:none;padding:0; margin:0px 0px 0px 30px;">
  <% site.instruments.where('site_id = ?', site.id).each do |i| %>
  <li><%= link_to(i.name, instrument_url(i)) %></li>
  <% end %>
  </ul></td>
<tr>
