%tr
  %td= best_in_place site, :name,      :as => :input
  %td= best_in_place site, :lat,       :as => :input
  %td= best_in_place site, :lon,       :as => :input
  %td= best_in_place site, :elevation, :as => :input
  %td= best_in_place site, :site_type_id, :as => :select, :collection => SiteType.all.map { |i| [i.id, i.name] }
  - if Archive.first.try(:name) == "CUAHSI"
    %td= best_in_place site, :cuahsi_site_code, :as => :input
  %td= button_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-lg dropdown-toggle'
%tr
  %td{:colspan => "4"}
    %ul{:style => "list-style-type:none;padding:0; margin:0px 0px 0px 30px;"}
      Description: #{best_in_place site, :description, :as => :input, :type => :textarea, :html_attrs => {:style => 'width:500px; height:100px;'}}
%tr
  %td
    %ul{:style => "list-style-type:none;padding:0; margin:0px 0px 0px 30px;"}
      - site.instruments.where('site_id = ?', site.id).each do |i|
        %li= link_to(i.name, instrument_url(i))
%tr
