<h1>Sites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Lon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= link_to(site.name, site_url(:id => site.id)) %></td>
        <td><%= site.lat %></td>
        <td><%= site.lon %></td>
        <td><%= link_to 'Edit', edit_site_path(site) %></td>
        <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <td><ul style="list-style-type:none;padding:0; margin:0px 0px 0px 30px;">
        <% @instruments.where('site_id = ?', site.id).each do |i| %>
        <li><%= link_to(i.name, instrument_url(i)) %></li>
        <% end %>
        </ul></td>
      <tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_site_path %>
