<h1>Sites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Elevation</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>				
		<%= render partial: 'sites/bip_form', locals: {site: site} %>
    <% end %>
  </tbody>
</table>

<br>

<%= form_for :site, url: sites_path, :remote => false, :format => :js do |f| %>
	<%= f.hidden_field :name,      :value => 'site name' %>
	<%= f.hidden_field :lat,       :value => 'lat' %>
  <%= f.hidden_field :lon,       :value => 'lon' %>
  <%= f.hidden_field :elevation, :value => 'elevation' %>

	 <%= f.submit :value	 => 'Add a New Site' %>
<% end %>
