<%= form_with(model: input_datum, local: true) do |form| %>
  <% if input_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(input_datum.errors.count, "error") %> prohibited this input_datum from being saved:</h2>

      <ul>
      <% input_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :origin_lat %>
    <%= form.text_field :origin_lat %>
  </div>

  <div class="field">
    <%= form.label :origin_lon %>
    <%= form.text_field :origin_lon %>
  </div>

  <div class="field">
    <%= form.label :scanned_at %>
    <%= form.datetime_select :scanned_at %>
  </div>

  <div class="field">
    <%= form.label :header_metadata %>
    <%= form.text_area :header_metadata %>
  </div>

  <div class="field">
    <%= form.label 'NetCDF Data File' %>
    <%= form.file_field :input_netcdf %> 
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
