<p id="notice"><%= notice %></p>

<h1>Input Data</h1>

<table border= "solid black 1px">
  <thead>
    <tr>
      <th>Name</th>
      <th>Origin lat</th>
      <th>Origin lon</th>
      <th>Scanned at</th>
      <th>Header metadata</th>
      <th>Object ID</th>
      <th>NetCDF file attached?</th>
      <th>Plot file attached? </th> 
      <th>URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @input_data.each do |input_datum| %>
      <tr>
        <td><%= input_datum.name %></td>
        <td><%= input_datum.origin_lat %></td>
        <td><%= input_datum.origin_lon %></td>
        <td><%= input_datum.scanned_at %></td>
        <td><%= input_datum.header_metadata %></td>
        <td><%= input_datum.id %></td>
	<td><%= input_datum.input_netcdf.attached? %></td>
  	<td><%= input_datum.plot_file.attached? %></td> 
        <td><%= input_datum.input_netcdf.service_url(disposition: 'attachment') if input_datum.input_netcdf.attached? %></td>
        <td><%= link_to 'Show', input_datum %></td>
        <td><%= link_to 'Edit', edit_input_datum_path(input_datum) %></td>
        <td><%= link_to 'Destroy', input_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Download', "/input_data/#{input_datum.id}/download", method: :get, action: :download, data: {confirm: 'Do you want to download this file' } %></td>

      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Input Datum', new_input_datum_path %>
