.row.bannerbar
  .hidden-xs.col-sm-2
    = link_to image_tag('CHORDS_full_50.png', :class => "img-responsive", :style=>"max-height:40px; margin-top:5px;"), root_path
    = link_to image_tag('earthcube_full_50.png', :class => "img-responsive", :style=>"max-height:50px; margin-top: 2px;"), "https://www.earthcube.org/"
  .col-xs-12.col-sm-8
    %div{:style => "text-align:center;"}
      %h1{:style => "font-size: 350%;"}
        = @profile.project
      - if user_signed_in?
        = current_user.email
  .hidden-xs.col-sm-2
    %span.pull-right
      - if @logo_base64 != nil
        = ("<img height='100' src='data:image/jpg;base64,%s'>" % @logo_base64).html_safe
      - else
        = image_tag('CHORDS_QR_100.png', size:"100x100")
