<%# add navigation links to this file %>
<ul class="footer_links">
  <li><%= link_to image_tag('earthcube_full.png', height:"50"), "http://earthcube.org/",          :target => "_blank" , :class=>'img-responsive'%></li>
  <li><%= link_to image_tag('CHORDS_7.png', height:"30"),       "http://chordsrt.com",            :target => "_blank", :class=>'img-responsive' %></li>
	<li><%= link_to image_tag('NCAR.jpg', height:"30"),           "https://www.ncar.ucar.edu",      :target => "_blank", :class=>'img-responsive' %></li>
	<li><%= link_to image_tag('UAH.png', height:"30"),            "http://www.uah.edu/",            :target => "_blank", :class=>'img-responsive' %></li>
	<li><%= link_to image_tag('UMich.png', height:"30"),          "https://www.umich.edu/",         :target => "_blank", :class=>'img-responsive' %></li>
	<li><%= link_to image_tag('CSU.png', height:"30"),            "https://www.colostate.edu/",     :target => "_blank", :class=>'img-responsive' %></li>
	<li><%= link_to image_tag('UCSD.png', height:"30"),           "https://ucsd.edu/",              :target => "_blank", :class=>'img-responsive' %></li>
</ul>