.row
  .hidden-xs.col-sm-2
  .hidden-xs.col-sm-1= link_to image_tag('earthcube_full.png', :class=>"img-responsive", :style=>"max-height:50px"), "http://earthcube.org/",      :target => "_blank"
  .hidden-xs.col-sm-1= link_to image_tag('CHORDS_7.png',       :class=>"img-responsive", :style=>"max-height:50px"), "http://chordsrt.com",        :target => "_blank"
  .hidden-xs.col-sm-1= link_to image_tag('NCAR.jpg',           :class=>"img-responsive", :style=>"max-height:50px"), "https://www.ncar.ucar.edu",  :target => "_blank"
  .hidden-xs.col-sm-1= link_to image_tag('UAH.png',            :class=>"img-responsive", :style=>"max-height:50px"), "http://www.uah.edu/",        :target => "_blank"
  .hidden-xs.col-sm-1= link_to image_tag('UMich.png',          :class=>"img-responsive", :style=>"max-height:50px"), "https://www.umich.edu/",     :target => "_blank"
  .hidden-xs.col-sm-1= link_to image_tag('CSU.png',            :class=>"img-responsive", :style=>"max-height:50px"), "https://www.colostate.edu/", :target => "_blank"
  .hidden-xs.col-sm-1= link_to image_tag('UCSD.png',           :class=>"img-responsive", :style=>"max-height:50px"), "https://ucsd.edu/",          :target => "_blank"
  .hidden-xs.col-sm-3
