<nav>
<ul class="vertmenu">
    <br/>
	<li>
	  <%= link_to '/about' do %>
	    <%= image_tag('open-iconic/svg/info.svg', alt:  "About", class: 'sidebar_icon') %>
	    <br/>About
	  <% end %>
	</li>
	<br>
	<li>
	  <%= link_to '/datafetch' do %>
	    <%= image_tag('open-iconic/svg/data-transfer-download.svg', alt:  "About", class: 'sidebar_icon') %>
	    <br/>Get Data
	  <% end %>
	</li>
	<br>
	<li>
	  <%= link_to '/dashboard' do %>
	    <%= image_tag('open-iconic/svg/target.svg', alt:  "About", class: 'sidebar_icon') %>
	    <br/>Dashboard
	  <% end %>
	</li>
	<br>
	<li>
	  <%= link_to sites_path do %>
	    <%= image_tag('open-iconic/svg/globe.svg', alt:  "About", class: 'sidebar_icon') %>
	    <br/>Sites
	  <% end %>
	</li>
    <br>
	<li>
	  <%= link_to instruments_path do %>
	    <%= image_tag('open-iconic/svg/star.svg', alt:  "About", class: 'sidebar_icon') %>
	    <br/>Instruments
	  <% end %>
	</li>
    <br>
	<li>
	  <%= link_to '/profiles' do %>
	    <%= image_tag('open-iconic/svg/cog.svg', alt:  "About", class: 'sidebar_icon') %>
	    <br/>Configure
	  <% end %>
	</li>
	<br>
</ul>
</nav>