<nav>
<ul class="vertmenu" style="width: 150px;">

	<% if user_signed_in? %>
	<li class="sidebar_link">
	  <div>
	  <%= current_user.email %>
	  </div>
	</li>
	<% end %>
	
  <li class="sidebar_link">
    <div>
      <%= link_to '/about' do %>
        <%= image_tag('open-iconic/svg/info.svg', alt:  "About", class: 'sidebar_icon') %>About
      <% end %>
    </div>
  </li>
  
  <li class="sidebar_link">
    <div>
      <%= link_to 'http://chordsrt.com', :target => "_blank" do %>
        <%= image_tag('open-iconic/svg/question-mark.svg', alt:  "Help", class: 'sidebar_icon') %>Help
      <% end %>
    </div>
  </li>
  
	<li class="sidebar_link">
		<div>
	  <%= link_to '/dashboard' do %>
	    <%= image_tag('open-iconic/svg/target.svg', alt:  "Dashboard", class: 'sidebar_icon') %>Dashboard
	  <% end %>
	</div>
	</li>
	
	<li class="sidebar_link">
		<div>
	  <%= link_to '/data' do %>
	    <%= image_tag('open-iconic/svg/data-transfer-download.svg', alt:  "Data", class: 'sidebar_icon') %>Data
	  <% end %>
	</div>
	</li>
  
  <li class="sidebar_link">
    <div>
    <%= link_to sites_path do %>
      <%= image_tag('open-iconic/svg/home.svg', alt:  "Sites", class: 'sidebar_icon') %>Sites
    <% end %>
  </div>
  </li>

  <li class="sidebar_link">
    <div>
    <%= link_to instruments_path do %>
      <%= image_tag('open-iconic/svg/star.svg', alt:  "Instruments", class: 'sidebar_icon') %>Instruments
    <% end %>
  </div>
  </li>
  
  <li class="sidebar_link">
    <div>
    <%= link_to sites_geo_path do %>
      <%= image_tag('open-iconic/svg/globe.svg', alt:  "Geo", class: 'sidebar_icon') %>Geo
    <% end %>
  </div>
  </li>

  <% if (@profile.secure_administration == false) || user_signed_in? %>  
	  <li>
		<div>

		  <%= link_to '/instruments/simulator' do %>
		    <%= image_tag('open-iconic/svg/check.svg', alt:  "Simulator", class: 'sidebar_icon') %>Simulator
		  <% end %>

		</div>	
		</li>

		<% if ( (@profile.secure_administration) && (can? :manage, Profile) || (! @profile.secure_administration)) %>
			<li class="sidebar_link">
				<div>
				  <%= link_to '/profiles' do %>
				    <%= image_tag('open-iconic/svg/cog.svg', alt:  "Configure", class: 'sidebar_icon') %>Configure
				  <% end %>
				</div>
			</li>
		<% end %>

	
		<li class="sidebar_link">
			<div>
			  <%= link_to '/users' do %>
			    <%= image_tag('open-iconic/svg/people.svg', alt:  "Users", class: 'sidebar_icon') %>Users
			  <% end %>
			</div>
		</li>
	<% end %>

	<li class="sidebar_link">
		<div>

			<% if user_signed_in? %>
			  <%= link_to '/users/sign_out' do %>
			    <%= image_tag('open-iconic/svg/account-logout.svg', alt:  "Log Out", class: 'sidebar_icon') %>Log Out
			  <% end %>			
			<% else %>
			  <%= link_to '/users/sign_in' do %>
			    <%= image_tag('open-iconic/svg/account-login.svg', alt:  "Log In", class: 'sidebar_icon') %>Log In
			  <% end %>			
			<% end %>
		</div>
	</li>


</ul>
</nav>