<nav>
<ul class="vertmenu">
	<br>
	<li><%= link_to "About", '/about', class:'navlink2'  %></li>
	<br>
	<li><%= link_to 'Get Data', '/datafetch', class:'navlink2' %></li>
	<br>
	<li><%= link_to 'URL Builder', '/urlbuilder', class:'navlink2' %></li>
	<br>
	<li><%= link_to 'Dashboard', '/dashboard', class:'navlink2' %></li>
	<br>
	<li><%= link_to 'Configure', '/profiles', class:'navlink2' %></li>
	<br>
</ul>
</nav>