<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Chords Testbed" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Chords Testbed" %>">
	<%= favicon_link_tag 'Logo_1.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>    
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
 </head>
 
  <body>
    <header id="appheader">
      <%= render 'layouts/navigation' %>  		
    </header>
    <aside id="appsidebar">
	  <%= render 'layouts/sidebar' %>    	
    </aside>
	<section id="content">
	  <%= render 'layouts/messages' %>
	  <%= yield %>
	</section>
    <footer>
      <%= render 'layouts/footer' %>  		
    </footer>
  </body>
</html>
