<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "CHORDS Portal" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "CHORDS Portal" %>">
    <%= favicon_link_tag 'CHORDS_7.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
	<script>

	$(document).ready(function() {
	  $('.best_in_place').best_in_place();
	})
	</script>

  </head>

  <div class="container-fluid" data-no-turbolink>
  <div class="row">
    <!-- top banner -->
    <%= render 'layouts/bannerbar' %>
    
    <!-- top navbar -->
    <%= render 'layouts/topnav' %>
  </div>
  </div>
  <div class="container" data-no-turbolink>
  <div class="row">
  
    <!-- main area -->
    <%= render 'layouts/messages' %>
    <%= yield %>


  </div>
  </div>     <!--/.container-->
        
  <!-- footer -->
  <footer class="footer">
     <div class="container">
       <hr>
       <%= render 'layouts/footer' %>
     </div>
  </footer>
  
</html>
