!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %title= @profile.page_title
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "CHORDS Portal"}", :name => "description"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag 'CHORDS_logo_50.png'
    = csrf_meta_tags
    :javascript
      $(document).ready(function() {
        $('.best_in_place').best_in_place();
      })
  %body
    .container-fluid
      / top banner
      = render 'layouts/bannerbar'
      / top navbar
      = render 'layouts/topnav'
    / main area
    .container
      = render 'layouts/messages'
      = yield
    / footer
    .container-fluid
      %hr/
      = render 'layouts/footer'
