<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Chords Testbed" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Chords Testbed" %>">
	<%= favicon_link_tag 'chords_logo_3.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>    
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
 </head>
 
  <body>
  	<div class="wrapper">
     <header class="appheader">
      <%= render 'layouts/navigation' %>  		
    </header>
    <aside class="appsidebar">
	  <%= render 'layouts/sidebar' %>    	
    </aside>
	<main class="main" role="main">
	  <%= render 'layouts/messages' %>
	  <%= yield %>
	</main>
    <footer class="footer">
      <%= render 'layouts/footer' %>  		
    </footer>
	</div>
  </body>
</html>
